.policlean-bg {
  background: var(--cor-7);
}

.policlean-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  padding: 3rem 0rem 3rem 0rem;
  margin: 0 auto;
}

.policlean-image {
  grid-column: 1;
}

.policlean-info {
  grid-column: 2;
  margin-left: 3rem;
}

.policlean-info h1 {
  color: var(--cor-b-1);
  margin-top: 2rem;
}

.policlean-info p {
  color: var(--cor-b-2);
  margin-top: 2rem;
  max-width: 88ch;
}

@media (max-width: 820px) {
  .policlean-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .policlean-container {
    display: block;
    padding: 1rem 1rem 1rem 0rem;
  }

  .policlean-info {
    grid-column: 2;
    margin-left: 2rem;
  }

  .policlean-info h2 {
    grid-column: 2;
    margin: 0 auto;
    text-align: center;
  }

  .policlean-info p {
    grid-column: 2;
    margin-top: 1rem;
  }

  .policlean-image img {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
  }
}
